body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.left, .right {
	width:250px;
	margin-top:12px;
	margin-bottom:12px;
}

.left {
	float:left;
	margin-right:12px;
}

.right {
	float:right;
	margin-left:12px;
}